{% extends "front_base.html" %} 

{% block title %} New Post {% endblock %} 


{% block head %} 
{{ super() }}
<link href="../static/editing.css" rel="stylesheet"> 
{% endblock %} 


{% block container_content %} 
{{ super() }}
<form method="post">
    Do you really want to delete this post "{{subject}}"??
    <br><br>
    <input type="hidden" name="post_id" value="{{pst}}">
    <button type="submit" class="btn sub-font">Yes</button>
    <br><br>
    <a href="/permalink/{{pst}}">Cancel Deleting</a>
</form>

{% endblock %}