<div class="post">
    <div class="row date_showing">
        <h3 class="date-font">
              {{p.created.strftime("%d %b %Y")}}
          </h3>
    </div>
    <div class="row rest-content">
        <div class="post-title header-font">
            <a href="/permalink/{{p.key().id()}}"><h3>{{p.subject}}</h3></a>
            <br>
            <p>---posted by {{p.author}}.</p>
        </div>
        <div class="post-content">
            {{p._render_text | safe}}
        </div>

        <br>
        <hr>

        <div class="footer">
            <p> people who like it:</p>
            <div>
                {% for like in p.get_likes() %}
                    {{like.user}},&nbsp;
                {% endfor %}
                <hr>
            </div>
            {% if username %}
                {% if username|string() == p.author|string() %}
                    <span> <a href="/edit/{{p.key().id()}}"> edit </a> </span>
                    <span> <a href="/delete/{{p.key().id()}}"> delete </a> </span>
                {% else %}
                    {% if not liked %}
                         <span> <form method="post" action="/likes/{{p.key().id()}}"> <input type="submit" class="btn btn-warning" value="Like it now!"> </form> </span>
                    {% else %}
                       <span> <form method="post" action="/unlikes/{{p.key().id()}}"> <input type="submit" class="btn btn-warning" value="Unlike it;("> </form> </span>
                    {% endif %}
                {% endif %}
            {% else %}
            <span> <a href="/login"> login to like it?</a> </span>
            {% endif %}
        </div>
    </div>
</div>
